/* .top-bar{
    background-color:rgb(255, 254, 254);
    text-align: center;
    padding: 5px 0px;
    margin: 0px -10px;
    border-bottom: 1px solid rgb(180, 180, 180);
    font-family:monospace;
    font-size: 20px;
}
.top-bar a{
    text-decoration: none;
}
.top-bar-data{
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}
.top-bar ul li{
    float: left;
    list-style: none;
}
.top-bar ul li a{
    font-size: 16px;
    padding:10px;
    text-decoration:none;
    color:rgb(90, 90, 90);
}
.top-bar ul li a:hover{
    color: rgb(60, 106, 233);
}
.logo-site{
    margin: 0 auto;
}
input{
    float: left;
}
#search{
    margin-left: -60px;
}
.btn-search{
}
.placeholder-size-search{
    background-color: rgb(216, 216, 216);
    font-size: 12px;
    height: 30px;
    width:90px;
    border-radius: 25px;
}
.placeholder-size{
    font-size: 14px;
} */



/* 
header{
    background-color:rgb(255, 254, 254); 
    text-align: center;
    font-weight: 200;
    border-bottom: 2px solid rgba(119, 119, 119, 0.438);
    font-family:monospace;
    position: fixed;
    top: 0;
    z-index: 255;
    width: 100%;
}
.header-content-wrapper {
    width:80%;
    margin:auto;
    font-size: 16px;
}
.header-content-wrapper ul {
    list-style-type: none;
    
}
.header-content-wrapper ul li a {
    color:rgb(41, 41, 41);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    
}

.header-content-wrapper ul a:hover,i:hover{
    color:#ff5e3a;
}

.header-content-wrapper  .left-div ul li a {
    float: left;
    
}
.header-content-wrapper  .right-div ul li a {
    float: right;
    
}

.left-div {
}
.mid-div a{
    font-size: 22px;
    font-weight: bold;
    
}
.mid-div a i{
    font-weight: normal;
    
}

.right-div {
    
}
.nav-icon {
    padding-right: 5px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(102, 99, 99);
}    */
/* 

  .full-height {
    height: 100%;
    background: linear-gradient(#c2e3ff, #ffb7c9);
  } */

  .data{
    height: 100%;
    width: 100%;
}
.left-col{
    /* background-image: url('../../../assets/img/twitter-back.png'); */
    background: linear-gradient(#25b2b9, #ff5e3ad1);
    overflow: hidden;
    position: relative;
    padding: 140px;
}
.left-col-data{
    color: #fff;
    text-align: center;
    max-width: 400px;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto;
}
span{
    color: white;
}
.left-col-data li{
    list-style-type: none;
    text-align: left;
    line-height: 80px;
}
.login-btn{
    color: #1da1f2;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #1da1f2;
    border-radius: 5px;
    padding: 0;
    height: 55px;
}
.forgot-password a{
    font-size: 14px;
    color: rgb(146, 146, 146);
}
.placeholder-size{
    font-size: 14px;
}
.right-col{
    background: #f1faff;
}
.right-col-form{
    padding: 40px;
    overflow: hidden;
    position: relative;
}
.right-col-data{
    margin: 0 auto;
    max-width: 380px;
    overflow: hidden;
    position: relative;
}
.top-data p{
    font-weight: bold;
    font-size: 26px;
}
.middle-data{
    font-weight: bold;
    font-size: 18px;    
}
.bottom-data{
    
}
.btn-signup{
    color: #ffffff;
    background-color: #1da1f2;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #1da1f2;
    border-radius: 30px;
    height: 35px;
    width: 100%;
    margin: 0 auto;
}
.btn-signup a{
    color: #ffffff;
    background-color: #1da1f2;
    text-decoration: none;
}
.btn-login{
    color: #1da1f2;
    background-color: #ffffff;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #1da1f2;
    border-radius: 30px;
    width: 100%;
    margin: 0 auto;
}