 <!-- Left Sidebar -->

    
    <div class="ui-block">
      <div class="ui-block-title">
        <h6 class="title">Trending Now</h6>
        <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use></svg></a>
      </div>

      <ul class="widget w-friend-pages-added notification-list friend-requests">
        <li class="inline-items">
          
          <div class="notification-event" >
            <a href="#" class="h6 notification-friend" style="color:#38a9ff">#Happynewyear</a>
            
          </div>
          <span class="notification-icon">
            2000 tweets
          </span>

        </li>
        <li class="inline-items">
            
            <div class="notification-event">
              <a href="#" class="h6 notification-friend" style="color:#38a9ff">#Happynewyear</a>
              
            </div>
            <span class="notification-icon">
              2000 tweets
            </span>

        </li>

        <li class="inline-items">
            
            <div class="notification-event">
              <a href="#" class="h6 notification-friend" style="color:#38a9ff">#Happynewyear</a>
              
            </div>
            <span class="notification-icon">
              2000 tweets
            </span>

          </li>

      </ul>

    </div>

  <!-- ... end Left Sidebar -->