
    <div class="row">
      <div class="col-md-6 left-col">
        <div class="left-col-data">
          <ul>
            <li>
                    <i class=" nav-icon fa fa-bell"></i>&nbsp;Follow your interests.
            </li>
            <li>
                    <i class=" nav-icon fa fa-bell"></i>&nbsp;Follow Great People
            </li>
            <li>
                    <i class=" nav-icon fa fa-bell"></i>&nbsp;Join the conversation.
            </li>
          </ul>
        </div>
      </div> <!-- Left col-md-6 ends -->
  
      <!-- Right column -->
        <div class="col-md-6 right-col">
          <div class="row">
            <div class="col col-md-12 right-col-data">

                  
                <h4>Login</h4>
                <form class="form-group" [formGroup]="loginGroup" novalidate>
                    <div class="group">
                    <input type="email"  class="form-control placeholder-size" formControlName="email" placeholder="Email"/>
                    <span  
                    *ngIf="loginGroup.controls['email'].errors && (loginGroup.controls['email'].dirty || loginGroup.controls['email'].touched)">
                    <span *ngIf="loginGroup.controls['email'].errors.required" style="color:red">email is required</span>
                    <span *ngIf="loginGroup.controls['email'].errors.pattern" style="color:red">Invalid Email</span>
                    </span>
                </div>
                <div class="group">
                    <input type="password"  class="form-control placeholder-size" formControlName="password" placeholder="Password"/>      
                    <span style="color:red"
                    *ngIf="loginGroup.controls['password'].invalid && (loginGroup.controls['password'].dirty || loginGroup.controls['password'].touched)">
                        Password is Required
                    </span>
                </div>
                    <div class="forgot-password">
                        <span><a href="#">Forgot password?</a></span>
                        <span>Or</span>
                        <span><a routerLink="/signup">Signup</a></span>
                    </div>
                    <button class="btn btn-primary btn-block" (click)="onSubmit()" [disabled]="loginGroup.invalid">Login</button>
                   
                    
                </form> 
            </div>
          </div>

          
  
        </div> <!-- Right col-md-6 ends -->
      </div>
