<div class="data">
        <div class="row">
          <div class="col col-md-6 left-col">
            <div class="left-col-data">
              <ul>
                <li>
                        <i class=" nav-icon fa fa-bell"></i>&nbsp;Follow your interests.
                </li>
                <li>
                        <i class=" nav-icon fa fa-bell"></i>&nbsp;Hear what people are talking about.
                </li>
                <li>
                        <i class=" nav-icon fa fa-bell"></i>&nbsp;Join the conversation.
                </li>
              </ul>
            </div>
          </div> <!-- Left col-md-6 ends -->
      
          <!-- Right column -->
            <div class="col col-md-6 right-col">
              <div class="row"> <!-- Login content starts -->
                <div class="col col-md-12 right-col-form"> <!-- Column col-12 starts -->
                  <!-- Form starts here -->
                    <div>
                      <div class="row">
                        <form class="form-group" method="POST">
                          <div class="form-row">
                            <div class="col-md-4">
                              <input type="text"  class="form-control placeholder-size" name="email" placeholder="Phone or Email"/>
                            </div>
                            <div class="col-md-4">
                              <input type="password"  class="form-control placeholder-size" name="password" placeholder="Password"/>
                            </div>
                            <div class="col-md-2">
                              <button type="submit" routerLinkActive="active" class="form-control login-btn" name="login" >Login</button>
                            </div>
                          </div>
                        </form> <!-- Form ends here -->
                
                      </div>
                      <div class="row">
                        <div class="col col-md-5">
                        </div>
                        <div class="col col-md-5">
                          <div class="forgot-password">
                            <a routerLink="/passwordreset" routerLinkActive="active">Forgot password?</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  
                </div> <!-- Column col-12 ends -->
              </div> <!-- Login content ends -->
      
              <div class="row">
                <div class="col col-md-12 right-col-data">
                  <div class="row">
                    <div class="col col-md-12 top-data">
                      <!-- <img src="../../assets/img/airtime.png" alt="twitter" style="max-height:60px;" /> -->
                      <p>
                        Follow the trends!
                      </p>
      
                    </div>
                  </div>
                  <div class="row">
                    <div class="col col-md-12 middle-data">
                      Join airtime today.
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col col-md-12 bottom-data">
                      <div class="row">
                        <div class="col col-md-12">
                          <button type="button" class="btn btn-signup">
                              <a routerLink="/signup" routerLinkActive="active">Sign Up</a>
                          </button>
                        </div>
                      </div>
                     
                    </div>
                  </div>
                </div>
              </div>
      
            </div> <!-- Right col-md-6 ends -->
          </div>
      </div>