
.left-col{
    /* background-image: url('../../../assets/img/twitter-back.png'); */
    background: linear-gradient(#25b2b9, #ff5e3ad1);
    overflow: hidden;
    position: relative;
    padding: 140px;
}
.left-col-data{
    color: #fff;
    text-align: center;
    height: 300px;
    max-width: 400px;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto;
}

.left-col-data li{
    list-style-type: none;
    text-align: left;
    line-height: 80px;
}
.login-btn{
    color: #1da1f2;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #1da1f2;
    border-radius: 5px;
    padding: 0;
    height: 55px;
}
.forgot-password {
    padding-top:20px;
    padding-bottom: 20px; 
    font-size: 14px;
    color: rgb(146, 146, 146);
}

.forgot-password span {
    padding-right:10px;
}
.placeholder-size{
    font-size: 14px;
}
.right-col{
    background: #f1faff;
}
.right-col-form{
    padding: 40px;
    overflow: hidden;
    position: relative;
}
.right-col-data{
    padding-top: 50px;
    margin: 0 auto;
    max-width: 380px;
    overflow: hidden;
    position: relative;
}
.top-data p{
    font-weight: bold;
    font-size: 26px;
}
.middle-data{
    font-weight: bold;
    font-size: 18px;    
}
   
.group{
    margin-bottom: 18px;

}

