<div class="container" style="padding-top:60px;">
    <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="ui-block">
        <div class="top-header">
          <div class="top-header-thumb">
            <img src="../../../assets/img/top-header1.jpg" alt="nature">
          </div>
          <div class="profile-section">
            <div class="row">
              <div class="col-lg-5 col-md-5 ">
                <ul class="profile-menu">
                  <li>
                    <a 
                      routerLinkActive="active"
                      [routerLinkActiveOptions]="{exact:true}"
                      [routerLink]="['/profile',profile.username]">Tweets</a>
                  </li>
                  <li>
                    <a
                      routerLinkActive="active"
                      [routerLink]="['/profile',profile.username,'likes']">Likes</a>
                  </li>
                  <li>
                    <a
                      routerLinkActive="active"
                      [routerLink]="['/profile',profile.username,'re-tweets']">Re-tweets</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-5 ml-auto col-md-5">
                <ul class="profile-menu">
                  <li>
                    <a routerLinkActive="active"
                    [routerLink]="['/profile',profile.username,'followers']">Followers ({{profile.followersCount}})</a>
                  </li>
                  <li>
                    <a
                      routerLinkActive="active"
                      [routerLink]="['/profile',profile.username,'following']">Following ({{followingCount$ | async}})</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="top-header-author">
            <a href="02-ProfilePage.html" class="author-thumb">
              <img src="../../../assets/img/author-main1.jpg" alt="author">
            </a>
            <div class="author-content">
              <a href="02-ProfilePage.html" class="h4 author-name">{{profile.fullname}}</a>
              <div class="country">{{profile.country ? profile.country: "NA"}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
    
    <!-- ... end Top Header -->

<div class="container">
  <div class="row">
    <!-- Main Content -->
    <main class="col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-xs-12">

       <router-outlet></router-outlet> 

      <a id="load-more-button" href="#" class="btn btn-control btn-more" data-load-link="items-to-load.html" data-container="newsfeed-items-grid"><svg class="olymp-three-dots-icon"><use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use></svg></a>

    </main>
    <!-- ... end Main Content -->

<!-- Left Sidebar -->

<div class="col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-12 col-xs-12">
    <app-user-intro [profile]="profile"></app-user-intro>
  
  </div>
  
  <!-- ... end Left Sidebar -->
    
  <!-- Right Sidebar -->

  <aside class="col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-12 col-xs-12">
    <app-suggestion-list></app-suggestion-list>
  </aside>

  <!-- ... end Right Sidebar -->


  </div>
</div>